body {
  margin: 0;
  overflow: hidden;
}

#screen {
  /* aspect-ratio: 16/9; */
  aspect-ratio: 16/10;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: url(images/red_crosshair.png) 40 40, auto;
}

#game_background {
  background-image: url("images/Moon_City.jpg");
  aspect-ratio: 16/9;
  background-size: cover;
  position: relative;
  width: 100vw;
}

#life_board {
  position: absolute;

  top: 5%;
  left: 3%;
}

#life_board img {
  width: 5%;
}

#milk1_container {
  position: absolute;
  width: 5%;
  left: 20%;
  top: 20%;
}

#milk1 {
  width: 100%;
}

/* ============== animationer ============== */

.falling {
  animation-name: falling;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes falling {
  0% {
    transform: translate(0, -100%);
  }

  100% {
    transform: translate(0, 56.25vw);
  }
}

/* ============== positions & paused ============== */

.paused {
  animation-play-state: paused;
}

.position1 {
  left: 10vw;
}

.position2 {
  left: 40vw;
}

.position3 {
  left: 70vw;
}

.position4 {
  left: 30vw;
}

.position5 {
  left: 55vw;
}
