body {
  margin: 0;
}

#screen {
  aspect-ratio: 16/9;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: url(images/crosshair_red.jpg), auto;
}

#game_background {
  background-image: url("images/Moon_City.jpg");
  aspect-ratio: 16/9;
  background-size: cover;
  position: relative;
}

#life_board {
  position: absolute;
  margin-top: 1vw;
  margin-left: 10vw;
}

#life_board img {
  width: 5%;
}

#milk1_container {
  position: absolute;
  width: 1vw;
  left: 20%;
  top: 20%;
}
